@charset "utf-8";
/* CSS Document */
a
{
	text-decoration:none;
	color:inherit;
}
a:clicked
{
	text-decoration:none;
	color:inherit;
}
#HeadIMG
{
	text-align:center;
}
#Container
{
	font-family:Arial, Helvetica, sans-serif;
	width:800px;
	margin-right:auto;
	margin-left:auto;
}

ul
{
	list-style:none;
}
ul li
{
	float:left;
	padding:10px;
	margin:10px;
	width:40%;
	display:block;
	background-color:black;
	color:#FFF;
	opacity:.5;
	text-align:center;
}

ul li:hover
{
	background-color:#0C3;
}